:root {
  --main-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
  --main-light-color: #fff;
  --main-dark-color: #303030;
  --text-color: #555555;
  --text-color-dark-bg: #9DA4BD;
  --second-text-color: rgba(157, 164, 189, 0.6);
  --accent-color: rgba(255, 108, 0, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button {
  padding: 12px 20px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  width: 160px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 250ms linear;
}

.btn-white {
  color: var(--main-light-color);
}

.btn-dark {
  color: var(--main-dark-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: translateX 500ms ease-in-out, visibility 500ms, opacity 500ms;
    transform: translateX(100%);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 48px;
    right: 31px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    z-index: 100;
  }
  .mobile-menu__close-icon {
    width: 18px;
    height: 18px;
  }
  .mobile-menu__list {
    margin-bottom: 64px;
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus, .mobile-menu__phone:hover, .mobile-menu__phone:focus {
    color: var(--accent-color);
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .mobile-menu__link, .mobile-menu__phone {
    display: block;
    color: var(--main-dark-color);
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    transition: color 250ms linear;
  }
  .mobile-menu__phone {
    margin-bottom: 24px;
  }
  .mobile-menu__nav {
    width: 70%;
    padding-top: 118px;
    padding-left: 40px;
    padding-bottom: 227px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--main-light-color);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    overflow: hidden;
    transition: translateX 500ms ease-in-out, visibility 500ms, opacity 500ms;
    transform: translateX(0%);
  }
  .mobile-modal-btn {
    margin-bottom: 64px;
  }
  .site-list__item:last-child {
    margin-left: 100px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.form {
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-bottom: 15px;
  align-self: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: var(--text-color-dark-bg);
}

label {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.client-name,
.client-email,
.client-phone {
  padding-left: 15px;
  width: 100%;
  height: 24px;
  margin-top: 4px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-color: #9DA4BD;
  color: #9DA4BD;
}

.form-comment {
  padding-left: 15px;
  resize: none;
  width: 100%;
  height: 44px;
  margin-top: 4px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-color: #9DA4BD;
  color: #9DA4BD;
}

.client-name:focus,
.client-email:focus,
.client-phone:focus,
.form-comment:focus {
  border-bottom-color: rgb(255, 108, 0);
  outline: transparent;
}

.agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.agreement-text {
  margin-right: 10px;
}

.checkbox {
  position: relative;
  appearance: none;
}

.checkbox-custom {
  position: absolute;
  top: 0;
  right: 55px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--text-color-dark-bg);
}

.checkbox:checked + .checkbox-custom {
  background-color: rgb(255, 108, 0);
}

.checkbox:focus + .checkbox-custom {
  border-color: rgb(255, 108, 0);
}

.flex-btn {
  display: flex;
  justify-content: center;
}

.form-btn {
  color: #9DA4BD;
}

.form-btn:hover,
.form-btn:focus {
  color: var(--main-light-color);
  background-color: rgb(255, 108, 0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  background-color: #090B13;
  padding: 35px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #303030;
  fill: var(--main-light-color);
}

.close-btn:focus,
.close-btn:hover {
  fill: var(--text-color-dark-bg);
  background-color: var(--main-dark-color);
}

/* ABOUT */
.about {
  display: flex;
}
.about__list {
  display: flex;
}
.about__item {
  margin-right: 30px;
}
.about__description {
  display: flex;
  flex-direction: column;
  width: 470px;
}
.about__text {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.about__text-main {
  margin-bottom: 42px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.comment-dark {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--main-dark-color);
}

.title-dark {
  margin-bottom: 20px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-dark-color);
}

@media screen and (max-width: 767px) {
  .about {
    display: block;
  }
  .about__description {
    width: 100%;
  }
  .about .about__list {
    display: none;
  }
  .about__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
  }
  .title-dark {
    max-width: 306px;
  }
}
@media screen and (max-width: 1199px) {
  .title-dark-about {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1785714286;
  }
  .about__list {
    display: block;
    margin-right: 30px;
  }
  .about__item {
    margin-right: 0;
  }
  .about__item:first-child {
    margin-bottom: 30px;
  }
  .about__text-main {
    margin-bottom: 44px;
  }
}
/* BARBERS */
.barbers {
  background-color: #F7F7F7;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.barbers__title {
  margin-bottom: 44px;
}

.card {
  display: flex;
  gap: 30px;
}
.card__item {
  width: calc((100% - 60px) / 3);
}
.card__desc {
  padding-top: 30px;
}
.card__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
}
.card__comment {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: var(--main-dark-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: color 250ms linear;
}
.social-list__link:not(:last-child) {
  margin-right: 10px;
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--accent-color);
}
.social-list__logo {
  align-items: center;
  fill: currentColor;
  transition: fill 250ms linear;
}
.social-link:hover .social-list__logo, .social-link:focus .social-list__logo {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .card {
    display: block;
  }
  .card__item {
    width: 100%;
  }
  .card__item:not(:first-child) {
    margin-top: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comment-dark-barbers {
    margin-left: 120px;
  }
  .barbers__title {
    margin-left: 120px;
  }
}
/* ONLINE_BOOKING */
input::placeholder {
  padding-bottom: 8px;
}

.booking {
  background-image: linear-gradient(to right, rgb(25, 28, 38) 0%, rgb(25, 28, 38) 100%);
}
.booking__title {
  margin-bottom: 44px;
}

.booking-form__label:hover input::placeholder,
.booking-form__label:hover textarea::placeholder {
  color: var(--main-light-color);
}

.booking-comment {
  margin-bottom: 44px;
}

.booking-form {
  display: flex;
  flex-direction: column;
}
.booking-form__client-name {
  margin-right: 30px;
}
.booking-form__client-name, .booking-form__client-phone, .booking-form__comment {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  width: 270px;
  height: 24px;
  color: var(--main-light-color);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  cursor: pointer;
}
.booking-form__client-name:focus, .booking-form__client-name:hover, .booking-form__client-phone:focus, .booking-form__client-phone:hover, .booking-form__comment:focus, .booking-form__comment:hover {
  border-color: var(--main-light-color);
}
.booking-form__comment {
  resize: none;
  width: 100%;
  height: 76px;
}
.booking-form__container {
  margin-bottom: 44px;
  display: flex;
}

.address {
  font-style: normal;
  margin-bottom: 70px;
}
.address__link {
  display: flex;
  color: var(--text-color-dark-bg);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}
.address-link {
  font-weight: 700;
}
.address__item:not(:last-child) {
  margin-bottom: 20px;
}
.address__icon {
  margin-right: 16px;
}

.white-comment {
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: var(--main-light-color);
}
.white-comment.suptitle::before {
  background-color: var(--main-light-color);
}
.white-comment__time {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--text-color-dark-bg);
}

.contacts {
  display: flex;
  background-image: url(../images/bg-contacts-mobile.png);
  background-color: #191C26;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.contacts__title {
  margin-bottom: 40px;
}

@media screen and (max-width: 1199px) {
  .booking-container {
    padding: 100px 31px;
  }
  .booking-form__client-name, .booking-form__client-phone {
    width: 330px;
    margin-right: 0;
  }
  .booking-form__container {
    justify-content: space-between;
  }
  .contacts {
    display: block;
    padding: 100px 31px;
  }
  .contacts__container {
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__title {
    width: 500px;
  }
  .address {
    width: 250px;
    margin-right: 130px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .booking__title {
    text-align: center;
  }
  .booking-container {
    padding: 84px 31px;
  }
  .booking-form__container {
    display: block;
    margin-bottom: 44px;
  }
  .booking-form__client-name,
.booking-form__client-phone,
.booking-form__comment {
    width: 100%;
  }
  .booking-form__client-name {
    margin-bottom: 44px;
  }
  .btn-booking {
    margin: 0 auto;
  }
  .contacts {
    display: block;
    padding: 84px 31px;
  }
  .contacts__title {
    text-align: center;
  }
  .address {
    margin-bottom: 44px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .contacts {
    background-image: url(../images/bg-contacts-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-contacts-tablet.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .contacts {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-contacts-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .booking {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .booking-container {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    padding-left: 215px;
    padding-right: 30px;
    background-image: linear-gradient(to right, rgb(25, 28, 38) 0%, rgb(25, 28, 38) 100%);
  }
  .address-link {
    font-weight: 700;
  }
  .contacts {
    display: flex;
    padding-top: 130px;
    padding-left: 100px;
    padding-right: 415px;
    padding-bottom: 120px;
    background-image: url(../images/bg-contacts.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .contacts {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-contacts@2x.png);
  }
}
/* FOOTER */
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  column-gap: 40px;
}
.footer__item {
  display: flex;
}
.footer__item.suptitle::before {
  background-color: var(--text-color);
}
.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--text-color-dark-bg);
}

@media screen and (max-width: 767px) {
  .footer__section {
    padding: 44px 16px;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__list {
    column-gap: 40px;
    align-items: flex-start;
    justify-content: end;
  }
  .footer__item.suptitle::before {
    margin-right: 40px;
  }
  .footer__copyright {
    margin-top: 35px;
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .footer__section {
    padding: 56px 0;
  }
}
/* HEADER */
@media screen and (max-width: 767px) {
  .logo {
    fill: var(--main-light-color);
  }
  .menu .menu__list {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .icon-cross {
    display: none;
  }
  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    z-index: 100;
  }
  .open-mobile-menu-btn.is-open .icon-burger {
    display: none;
  }
  .open-mobile-menu-btn.is-open .icon-cross {
    display: block;
    z-index: 100;
  }
  .open-mobile-menu-btn.is-open .mobile-menu-icons {
    padding: 11px;
  }
  .icon-burger {
    fill: var(--main-light-color);
  }
  .mobile-menu-icons {
    width: 40px;
    height: 40px;
  }
}
.page-header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__phone {
  display: none;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .header-btn {
    margin-right: 20px;
  }
  .menu {
    display: flex;
    column-gap: 16px;
    align-items: center;
  }
  .menu__list {
    display: flex;
  }
  .menu__link:hover, .menu__link:focus, .menu__phone:hover, .menu__phone:focus {
    color: var(--accent-color);
  }
  .menu__item:not(:last-child) {
    margin-right: 16px;
  }
  .menu__link {
    display: block;
    color: var(--main-light-color);
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    white-space: nowrap;
    transition: color 250ms linear;
  }
  .logo {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    column-gap: 30px;
  }
  .menu__item:not(:last-child) {
    margin-right: 30px;
  }
  .menu__phone {
    display: block;
    color: var(--main-light-color);
    margin-right: 40px;
    margin-left: auto;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    white-space: nowrap;
    transition: color 250ms linear;
  }
  .logo {
    margin-right: 70px;
  }
}
/* HERO */
.hero__right-side {
  flex-grow: 1;
  padding: 209px 31px;
  background-color: #303030;
  background-size: cover;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-third-mobile.jpg);
}
.hero__title {
  font-family: var(--title-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--main-light-color);
}
.hero__desc {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.02em;
  width: 336px;
  color: var(--text-color-dark-bg);
}

.site-list {
  transform: rotate(-90deg) translateX(-18.45px);
  transform-origin: left top;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.site-list__link {
  font-family: var(--main-font);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: var(--main-dark-color);
}
.site-list__link:hover, .site-list__link:focus {
  color: var(--accent-color);
}
.site-list__item {
  display: flex;
}
.site-list__item.suptitle::before {
  margin-right: 40px;
  background-color: var(--main-dark-color);
}

.comment-light {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.comment-light.suptitle::before {
  background-color: var(--second-text-color);
}

.comment-dark.suptitle::before {
  background-color: var(--main-dark-color);
}

.suptitle {
  display: flex;
  align-items: center;
}
.suptitle::before {
  content: "";
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding: 0;
    width: 100%;
  }
  .hero__left-side {
    display: none;
  }
  .hero__desc {
    width: 100%;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__right-side {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-third-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
  }
  .hero__left-side {
    width: 90px;
    display: flex;
    align-items: flex-end;
    padding-left: 26px;
    padding-bottom: 40px;
  }
  .hero__right-side {
    padding-left: 120px;
    padding-top: 272px;
    padding-bottom: 237px;
    padding-right: 90px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg-third-tablet.jpg);
  }
  .hero__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6666666667;
    width: 360px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__right-side {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-third-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__right-side {
    padding-left: 100px;
    padding-top: 272px;
    padding-bottom: 208px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-third.jpg);
  }
  .hero__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1805555556;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__right-side {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-third@2x.jpg);
  }
}
/* PRICES */
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #111319;
}

.title-light {
  margin-bottom: 44px;
  font-family: var(--title-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.175;
  letter-spacing: 0.05em;
  color: var(--main-light-color);
}

.btn-service {
  display: flex;
  justify-content: center;
}

.services-table-wrapper {
  display: block;
  margin-bottom: 44px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services-table-wrapper .services-table {
  background-image: none;
}

.first-table {
  padding: 30px 20px 10px 40px;
}

.second-table {
  padding: 10px 20px 30px 40px;
}

.services-table__name, .services-table__price {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.02em;
  color: var(--text-color-dark-bg);
}
.services-table__name {
  order: -1;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286;
}
.services-table__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  row-gap: 20px;
}
.services-table__row::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}
.services-table__row:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .services-table-wrapper {
    display: flex;
    flex-direction: column;
  }
  .services-table__name, .services-table__price {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.3636363636;
    letter-spacing: 0.02em;
    color: var(--text-color-dark-bg);
  }
  .first-table {
    padding: 5px 10px 15px 20px;
  }
  .second-table {
    padding: 5px 10px 15px 20px;
  }
}
@media screen and (min-width: 480px) {
  .overlay {
    max-width: 480px;
    background-image: url(../images/bg-service-mobile.png);
  }
  .services-table {
    display: block;
    margin-bottom: 0;
  }
  .services-table__row {
    width: 358px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-service-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    background-image: url(../images/bg-service-tablet.png);
  }
  .title-light {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
  .services-table {
    display: block;
    margin-bottom: 0;
  }
  .services-table__name, .services-table__price {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6666666667;
  }
  .services-table__row {
    width: 623px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-service-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    background-image: url(../images/bg-service.png);
  }
  .services-table-wrapper {
    display: flex;
  }
  .services-table {
    flex-basis: 50%;
    padding: 30px 20px;
  }
  .services-table__row {
    width: 528px;
  }
  .services-table:first-child {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    margin-right: 30px;
  }
  .services-table:last-child {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-service@2x.png);
  }
}
/* WHY US */
.why-us-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
}

.why-us-container {
  display: flex;
  flex-direction: column;
}

.why-us {
  order: 2;
}

.why-us {
  display: flex;
  margin-right: 130px;
}
.why-us-container {
  display: flex;
}
.why-us__list {
  display: flex;
  flex-direction: column;
}
.why-us__item {
  width: 170px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}
.why-us__item:not(:last-child) {
  margin-bottom: 30px;
}
.why-us-first {
  margin-right: 30px;
}
.why-us-second {
  padding-top: 35px;
}
.why-us__number {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-dark-color);
}
.why-us__plus {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-color);
}
.why-us__comment {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-dark-color);
}

@media screen and (max-width: 479px) {
  .why-us {
    flex-direction: column;
    align-items: center;
  }
  .why-us-first {
    margin-right: 0px;
  }
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .title-light, .title-dark {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 480px) {
  .why-us-text {
    width: 100%;
    margin: 0;
  }
  .why-us__desc {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .why-us__desc {
    width: 500px;
  }
}
@media screen and (max-width: 1199px) {
  .why-us {
    margin: 0;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .why-us-container {
    flex-direction: row;
  }
  .why-us {
    order: 0;
  }
  .title-dark {
    width: 430px;
  }
}
/* WORKS */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
  }
  .work-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .work-item:nth-child(1) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .work-item:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .work-comment {
    margin-bottom: 71px;
  }
}
@media screen and (min-width: 1200px) {
  .work-list {
    display: flex;
  }
  .work-item:not(:last-child) {
    margin-right: 30px;
  }
  .work-comment {
    margin-bottom: 44px;
  }
}/*# sourceMappingURL=main.css.map */