/* WORKS */


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .work-list {
        display: flex;
        flex-wrap: wrap;
    }

    .work-item:not(:nth-child(2n)) {
        margin-right: 30px;
    }

    .work-item:nth-child(1) {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .work-item:not(:last-child) {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .work-comment {
        margin-bottom: 71px;
    }
}

@media screen and (min-width: 1200px) {
    .work-list {
        display: flex;
    }

    .work-item:not(:last-child) {
        margin-right: 30px;
    }

    .work-comment {
        margin-bottom: 44px;
    }
}
