.button {
    padding: 12px 20px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    width: 160px;

    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;

    transition: background-color 250ms linear;
}

.btn-white {
    color: var(--main-light-color);
}

.btn-dark {
    color: var(--main-dark-color);
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
}