:root {
    --main-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --main-light-color: #fff;
    --main-dark-color: #303030;
    --text-color: #555555;
    --text-color-dark-bg: #9DA4BD;
    --second-text-color: rgba(157, 164, 189, 0.6);
    --accent-color: rgba(255, 108, 0, 1);
}